*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: (100% * 10/16); // 10px/16px * 100 %

  @media only screen and (max-width: (1100em/16)) {
    font-size: (100% * 9/16); // 8px/16px * 100 %
  }
}

body {
  box-sizing: border-box;
}
