:root {
  --font-family: 'Poppins', sans-serif;
  --font-family-secondary: 'Alegreya', serif;

  --color-font: #2c3e50;
  --color-primary: #f76b1c;
  --color-grey-1: #888;

  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --gradient: linear-gradient(to bottom, #fad961 0%, #f76b1c 100%);
}
